---
---

@import "minimal-light";

h3 {
    margin: 0;
}

.teaser {
    border-radius: 8px;
    box-shadow: 3px 3px 6px #888;
    height: 123px;
    width: 270px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    object-fit: cover;
}
