<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }} | {{site.position}}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    {% if site.canonical %}
    <link rel="canonical" href="{{ site.canonical }}"/>
    {% endif %}

    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        {% if site.avatar %}
        <a class="image avatar"><img src="{{site.avatar}}" alt="avatar" onContextMenu="return false" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1> 
        
        {% if site.position %}
        {{ site.position }}
        <br>
        {% endif %}
        {{ site.affiliation }}
        {% if site.email %}
        <br>
        {{ site.email }}
        <br>
        <br>
        {% endif %}

        <div class="social-icons">

          {% if site.linkedin %}
          <a href="{{ site.linkedin }}" target="_blank" aria-label="linkedin profile">
            <img src="./assets/img/linkedin.webp" width=48 height=48 alt="linkedin">
          </a>
          {% endif %}
          {% if site.google_scholar %}
          <a href="{{ site.google_scholar}}" target="_blank" aria-label="google scholar profile">
            <img src="./assets/img/gscholar.webp" width=48 height=48 alt="google scholar">
          </a>
          {% endif %}
          {% if site.github_link %}            
          <a href="{{ site.github_link }}" target="_blank" aria-label="github profile">
            <img src="./assets/img/github.webp" width=48 height=48 alt="github">
          </a>
          {% endif %}
        </div>

        <br>
        <br>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
  </body>
</html>
